


<li class="span3">
  <div class="thumbnail">
    
    <%= link_to  large_picture_preview_for_company_admin_url(picture),
        :class => "thumbnail" , :style => "height:160px; overflow:hidden;" do %>
      <%#= image_tag picture.index_image_url %>
      <% if picture.landscape?  %>
        <%= image_tag picture.index_image_url, 
              :style=>" width: 100%;", :class => "landscape", :id=> "#{picture.id}" %>
      <% elsif picture.portrait? %>
        <%= image_tag picture.index_image_url, 
              :style=>"height:160px;",    :class => "portrait", :id=> "#{picture.id}" %>
      <% end %>
    <% end %>
   
    
    
    <!-- <img alt="" src="http://placehold.it/260x180"> -->
    <div class="caption">
      <table cellpadding="0" cellspacing="0" border="0" 
            class="table table-striped table-bordered" id="example">
        
        <tbody>
          <tr>
            <td colspan="2" class='filename-wrapper word-wrappable'>
              <a href="#" rel="tooltip" title="<%=  picture.name %>" class='tooltip-able'><%= picture.name %></a>
            </td>
          </tr>
          <tr>
            <td>Revisions</td>
            <td><%= picture.revisions.count %></td>
          </tr>
          <tr>
            <td>Selected?</td>
            <td>
              <% if picture.is_selected == true %>
                <span class="label label-success">Yes</span>
              <% else %>
                <span class="label label-important">No</span>
              <% end %>
              
            </td>
          </tr>
          
         <tr>
              <td colspan="2" style="text-align:center; ">
                <div style="min-height:30px;">
                  
                  <% if picture.can_be_deleted?  %>
                    <%= form_for picture, 
                          :url => delete_original_image_url,
                          :html => {:class => "delete_pic" , :style =>"margin: 0;"} do |f| %>
                      <%= hidden_field_tag 'picture_id', picture.id  %>
                      <button href="#" class="btn btn-danger delete_original" >
                        Delete
                      </button>
                    <% end %>
                  
                  <% else %>
                    --
                  <% end %>
                </div>
              </td>
            </tr>
            
            
            </td>
          </tr>
          
        </tbody>
      </table>
     
    </div>
     
     
        
      
  </div>
</li>



