

<%  @user_activity = pending_delivery.corresponding_user_activity %>
<%  @actor = @user_activity.extract_object(:actor)  %>
<%  @subject_object = @user_activity.extract_object(:subject) %>

<% @secondary_subject = @user_activity.extract_object(:secondary_subject) %>
<% @event_type = @user_activity.event_type %>
<% @project = Project.find_by_id(@user_activity.project_id) %>

<%# 
  EVENT_TYPE[:create_comment]   i need to know the project object 
  EVENT_TYPE[:reply_comment] 
  EVENT_TYPE[:submit_picture_revision] 
  EVENT_TYPE[:grade_picture]

%>

<p>
  Action was done at <%= pending_delivery.notification_raised_datetime.in_time_zone(@user.get_time_zone) %>
</p>
<% if @user_activity.event_type == EVENT_TYPE[:create_comment]  %>
<!-- # actor is the teacher 
              # subject is the comment 
              # secondary subject is the picture -->
  <div class="row">
    

    <% if @actor.has_project_role?(:client, @project)%>
      <% title = "Client telah meninggalkan feedback di file untuk" + 
          " project: #{@project.title }" %>
    <% else %>
      <% title = "Employee telah meninggalkan feedback di file untuk" + 
          " project: #{@project.title }" %>
    <% end %>
    
    <!-- <h3>This is the one for EVENT_TYPE[:create_comment]</h3> -->
    <h3><%= title.html_safe %></h3>
    <table>
      <tbody>
        <tr>
          <td>
            <%= image_tag @secondary_subject.index_image_url %>
          </td>
          <td style="vertical-align:top;">
            <blockquote><%= @subject_object.body %></blockquote>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- Recipient is the student. so, show_url  -->
    <p>
      <%= link_to "See Details",
      show_picture_for_feedback_url( @secondary_subject.last_revision ) %>
    </p>
  </div><hr />
  
<% elsif @user_activity.event_type == EVENT_TYPE[:reply_comment] %>


<!-- # actor is the user, can be teacher or student   
            # the subject is the comment itself 
            # the  secondary_subject is the picture -->
    
  <% if @actor.has_project_role?(:client, @project)%>
    <% title = "Client telah meninggalkan reply untuk feedback di file untuk" + 
        " project: #{@project.title }" %>
  <% else %>
    <% title = "Employee telah meninggalkan reply untuk feedback di file untuk" + 
        " project: #{@project.title }" %>
  <% end %>

  <div class="row">
    <!-- <h3>This is the feed for EVENT_TYPE[:reply_comment]</h3> -->
    <h3><%= title.html_safe %></h3>
    <table>
      <tbody>
        <tr>
          <td>
            <%= image_tag @secondary_subject.index_image_url %>
          </td>
          <td style="vertical-align:top;">
            <% if @subject_object.nil?%>
              <blockquote></blockquote>
            <% else %>
              <blockquote><%= @subject_object.body %></blockquote>
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
  
    <p>
      <%= link_to "See Details",
      show_picture_for_feedback_url( @secondary_subject.last_revision ) %>
    </p>
  
  </div><hr />



  
  
<% elsif @user_activity.event_type == EVENT_TYPE[:submit_picture_revision] %>

  <!-- # actor is the student (uploader)
                         # subject is the new uploaded picture 
                         # secondary_subject is the original_picture  -->
  <% title = "Karyawan telah mengupload sebuah file revisi " + 
          " untuk project #{@project.title}."%>
  <div class="row">
    <!-- <h3>This is the feed for EVENT_TYPE[:submit_picture_revision].</h3> -->
    <h3><%= title %></h3>
    <table>
      <thead>
        <tr>
          <th>Original Picture</th>
          <th>Revision</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <%= image_tag @secondary_subject.index_image_url %>
          </td>
          <td>
            <%= image_tag @subject_object.index_image_url %>
          </td>
        </tr>

      </tbody>
    </table>
    <p>
      
      <%= link_to "See Details", show_picture_for_feedback_url( @subject_object ) %>
       
      <%#= link_to "See Details",
       project_submission_picture_url(@subject_object.project_submission, @subject_object)%>
      <!-- <a href="#" class="btn">View details »</a> -->
    </p>
  </div><hr />
  
  
<% elsif @user_activity.event_type == EVENT_TYPE[:grade_picture]  %>
  
  <!-- # actor is the teacher
              # subject is the picture being graded
              # secondary_subject is the project -->

  <% title = "Client menilai gambar untuk project #{@project.title} "%>
  <div class="row">
    <!-- <h3>This is the feed for EVENT_TYPE[:grade_picture].</h3> -->
    <h3><%= title  %></h3>
    <table>
      <thead>
        <tr>
          <th>Image</th>
          <th>Score</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= image_tag @subject_object.index_image_url %></td>
          <td style="vertical-align:top;"> 
            <% if @subject_object.is_approved == false %>
              <span style="background-color:rgb(230,230,230); font-size:x-large; font-weight:bold;">
                REJECTED
              </span>
            <% elsif @subject_object.is_approved == true  %>
              <span style="background-color:rgb(230,230,230);">
                <!-- Score: <%#= @subject_object.score %> -->
                APPROVED
              </span>
            <% end %>
            
          </td>
        </tr>
      </tbody>
    </table>


    <p>
      <%= link_to "See Details", show_picture_for_feedback_url( @subject_object ) %>
      <!-- <a href="#" class="btn">View details »</a> -->
    </p>
  </div><hr />
  


<% end %>